@{
    ViewBag.Title = "About Us";
}
<h2><font color="Red">@ViewBag.Title</font></h2>

<address>
    <strong>Author: Tek Mainali</strong> <br />
    <strong>Pittsburgh Technical Institute </strong><br />
    <strong>Email: Tnm9@students.pti.edu</strong><br />
</address>

<p>This purpose of this application is to record the score gained by the players. This application is designed by ASP.NET MVC. For More Info Please visit <a href="http://www.asp.net/mvc/overview/getting-started/introduction/getting-started"><button type="button" class="btn btn-primary">More Info</button></a> </p>
