@{
    ViewBag.Title = "Contact Us";
}
<h2><font color="Red">@ViewBag.Title</font></h2>

<address>
    Pittsburgh Technical Institute<br />
    1111 Mckee Road <br />
    Oakdale, PA 15112<br />

    <p>This field is for PTI student only. Prohibited for rest of the world</p>
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Pad@ftcherrygolf.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">darison@ftcherrygolf.com</a>
</address>

@*<h3>Google Map</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3040.765262674441!2d-80.26976499999999!3d40.347553!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd06569bc8307af8e!2sFort+Cherry+Golf+Course!5e0!3m2!1sen!2sus!4v1410192454613" width="300" height="380" frameborder="0" style="border:0" id="gmap1"></iframe>*@