@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PTI Golf Score Card</h1>
    <p class="lead">The main purpose of this application is to give student their score.</p>
  <!-- <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> --> 
</div>

<h3><b>Tees Defination</b></h3>
<div class="info">
    <h3 style="background-color:red">Red Tee</h3>
    <p>Modern golf courses can use any color they want for any set of tees; the red tees <br />(if there even are red tees) could be front, middle or back.<br />

But traditionally, red tees represented the forward tees <br />(sometimes also called the "ladies tees"). So when golfers hear generic references to the "red tees" in conversation, <br />the speaker is probably making reference to the forward tees or ladies tees.</p>

    <img src="~/Image/RedTee.PNG" alt="traingle" height="100" width="100">

</div>

<div class="info1">
    <h3 style="background-color:blue">Blue Tee</h3>
    <p>"Blue tees" is a traditional way of referring to the rearmost tees (the back tees or championship tees) on a golf course.<br />

At each hole on a golf courses, there are multiple tee boxes,<br /> usually designated with colored tee markers. Through much of the 20th-century history of golf, it was traditional at many courses to use three tee boxes, designated by the colors red, white and blue.<br /> Red tees were the forward tees, white tees the middle tees, and blue tees the back tees.</p>

    <img src="~/Image/BlueTee.PNG" alt="traingle" height="100" width="100">
</div>

<div class="info2">
    <h3 style="background-color:yellow">Yellow Tee</h3>
    <p>
        GOLD or YELLOW tees can have two different meanings. <br />If near the front (closer to the green) they are for seniors who can't drive the ball quite so far. If these tees are back (away from the green) <br />then they are the Championship tees. 
    </p>

    <img src="~/Image/YellowTee.png" alt="traingle" height="100" width="100">
</div>

<div class="info3">
    <h3 style="background-color:white">White Tee</h3>
    <p>
        WHITE are used by "us" ordinary male golfers.<br /> We hit our drives anywhere from 160 to 220 yards down the fairway. 
    </p>

    <img src="~/Image/WhiteTee.png" alt="traingle" height="100" width="100">
</div>



